<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                        <!-- <div class="col-md-6 form-group">
                            <label for="">النوع </label>
                            <select class="form-control"  [formControlName]="'type'" (change)="onTypeChange($event.target.value)">
                                <option [value]="1"> خدمات الكترونية </option>
                                <option [value]="2"> خدمات توصيل </option>
                            </select>
                        </div> -->
                        <!-- <div class="form-group col-12">
                            <label for="">تصنيف الأقسام</label>
                            <ng-multiselect-dropdown [settings]="categories_Settings_filter" [data]="categories_List_filter" 
                            (onSelect)="onSelect_Filter($event)">
                            </ng-multiselect-dropdown>
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="">اسم الفئه باللغه العربيه</label>
                            <input type="text" class="form-control" [formControlName]="'name_ar'">
                        </div> -->
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>اسم الفئه باللغة العربية</mat-label>
                            <input matInput type="text" [formControlName]="'name_ar'">
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>اسم الفئه باللغة الانجليزية</mat-label>
                            <input matInput type="text" [formControlName]="'name_en'">
                        </mat-form-field>
                        

                        
                        <div class="form-group">
                            <label for="">صورة الفئه</label>
                            <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif" [multiple]="false">
                                <ngx-dropzone-label>أضغط هنا لإختيار صورة الفئه</ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f" >
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                        
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="submit" [disabled]="categoryForm.invalid || this.files.length < 1">إضافة الفئة</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>